<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170898355374-ulnniq5318li7te0596t476kvf6575mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170898355374-ulnniq5318li7te0596t476kvf6575mi</string>
	<key>API_KEY</key>
	<string>AIzaSyDVYqt1Hh61bPIdtEbNIRBYyojoR_05UHo</string>
	<key>GCM_SENDER_ID</key>
	<string>170898355374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatflutter210701</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflutter210701.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170898355374:ios:cf37c3962f500380d9a93f</string>
</dict>
</plist>